@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AscendNutrition.Web.ViewModels.AdminArea.CategoryManagement.AddCategoryViewModel

@{
    ViewData["Title"] = "Add Category";
}

<div class="container">
    <h1 class="my-4">@ViewData["Title"]</h1>

    <form method="post" asp-action="AddCategory" class="mb-4">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="Name">Category Name</label>
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />

        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Add Category</button>
        </div>
    </form>

    <div class="mt-3">
        <a asp-action="Index" class="btn btn-secondary">Back to Categories</a>
    </div>
</div>