@{
    ViewData["Title"] = "Promotions - Under Construction";
}

<h1>Oops! Promotion Section is Under Construction</h1>

<p>We're currently working hard to bring exciting promotions your way! Stay tuned, and check back soon for some awesome deals!</p>

<div style="text-align:center; margin-top:30px;">
    <img src="https://spectrum.ieee.org/media-library/image.jpg?id=25579542&width=980" alt="Under Construction" style="max-width: 25%; height: auto;" />
</div>

<p>Thanks for your patience!</p>

<div style="text-align:center; margin-top:20px;">
    <a href="@Url.Action("Index","Home")" class="btn btn-primary">Back to Index</a>
</div>