@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AscendNutrition.Web.ViewModels.AdminArea.InventoryManagement.ManageInventoriesViewModel

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Total Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.ProductList)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Quantity</td>
                <td>@product.TotalQuantity</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="AddProduct" asp-route-id="@Model.Id" class="btn btn-success">Add</a>
<a asp-action="Index" asp-controller="InventoryManagement" class="btn btn-secondary">Back</a>