@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4"><strong>Welcome to Ascend Nutrition!</strong></h1>
    <p>Your final stop before your physique ascension.</p>
</div>

<div class="text-center">
    <a href="@Url.Action("Index", "Product")"><img src="@Url.Content("images/ANlogo.png")" id="HomePageLogo" /></a>
</div>